.image_container {
  border: solid 1px #efefef;
  flex: 1 1 auto;
  width: 180px;
  height: 180px;
  margin: auto;
}

.image-placement_canvas {
  width: 22px;
}
app-image-placement {
  background-color: black;
}